body {
  margin: 24px;
}
.add_movie {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-items: stretch;

}
.nav_bar {
  display: flex;
  gap: 1rem;
}
.expand_more {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counter_container > button {
  font-size: 1.2rem;
  /* margin-bottom: 1rem;  */
  height: 2rem;
}
.game_box {
  height: 8rem;
  width: 8rem;
  border: 1px solid black;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}
.counter_container {
  display: flex;
  gap: 1rem;
}
.trailer_info {
 padding: 1rem;
 width: 850px;
 height: 400px;
}

.movie_poster {
  height: 550px;
  width: 350px;
  object-fit: cover;
}
.movie_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.movie_actions {
  display: flex;
  height: 3rem;
  justify-content: space-evenly;
}
.movie_container {
  width: 300px;
  height: min-content;
  padding: 0px;
  
}
.movie_name {
  margin: 0px;

}

.movie_specs {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
}